body {
    font-family: "Quicksand", sans-serif;
}

.spiel {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.spiel img {
    height: 600px;
}

.spiel a {
    color: black;
    text-decoration: none;
}
